.shop-category{
    background-color: black;
    color: white;
    padding-bottom: 30px;
}
.shopcategory-banner{
    display: flex;
    padding: 20px 0px;
    width: 100%;
    justify-content: center;
}
.shopcategory-banner img{
    width: 80%;
    height: 600px;
}
.shopcategory-indexsort {
    display: flex;
    margin: 40px 206px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid white;
}
.shopcategory-indexsort p span{
    font-weight: 600px;
}
.shopcategory-products{
    padding: 20px 80px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.shopcategory-products .item{
    margin: auto 83px;
}

.shopcategory-load{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 150px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
@media(max-width:1280px){
    .shopcategory-banner{
        padding: 20px auto;
    }
    .shopcategory-banner img{
        width: 80%;
        height: 450px;
    }
    .shopcategory-indexsort{
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexsort p{
        font-size: 12px;
    }
    .shopcategory-products{
        width: 90%;
        margin: 10px auto;
        padding: 10px 10px;
        row-gap: 20px;
    }
    .shopcategory-products .item{
        margin:auto;
    }
    .shopcategory-load{
        margin: 100px auto;
        font-size: 18px;
    }
}
@media(max-width:800px){
    .shopcategory-banner img{
        height: 300px;
    }
    .shopcategory-load{
        margin: 80px auto;
        width: 90px;
        font-size: 13px;
    }
}
@media(max-width:500px){
    .shopcategory-banner img{
        height: 230px;
    }
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        column-gap: 5px;
    }
}