.shop-category{
    background-color: black;
    color: white;
    padding-bottom: 30px;
}

.shopcategory-banner{
    display: flex;
    padding: 20px 0px;
    width: 100%;
    justify-content: center;
}
.shopcategory-banner img{
    width: 80%;
    height: 600px;
}
.shopcategory-indexsort {
    display: flex;
    margin: 40px 206px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid white;
}
.shopcategory-indexsort p span{
    font-weight: 600px;
}
.shopcategory-products{
    padding: 20px 80px;
    margin-left: 125px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.shopcategory-load{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 150px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
