.item{
    width: 300px;
}
.item:hover{
    cursor: pointer;
    scale: 102%;
    transition-duration: 0.2s;
}
.item img{
    height: 400px;
    width: 400px;
    border-radius: 3px;
}
.item p{
    margin: 7px 0px;
} 
.item-prices{
    display: flex;
}
.item-new-price{
    margin-right:5px;
    font-size: 20px;
    font-weight: bold;
}
.item-old-price{
    text-decoration: line-through;
    margin-right:5px;
    font-size: 20px;  
}