.item{
    width: 300px;
}
.item:hover{
    cursor: pointer;
    scale: 102%;
    transition-duration: 0.2s;
}
.item img{
    height: 400px;
    width: 400px;
    border-radius: 3px;
}
.item p{
    margin: 7px 0px;
} 
.item-prices{
    display: flex;
}
.item-new-price{
    margin-right:5px;
    font-size: 20px;
    font-weight: bold;
}
.item-old-price{
    text-decoration: line-through;
    margin-right:5px;
    font-size: 20px;  
}
@media(max-width:1280px){
    .item{
        width: 220px;
        font-size: 14px;
    }
    .item img{
        height: 220px;
        width: 220px;
    }
    .item-old-price{
        font-size: 14px;
    }
    .item-new-price{
        font-size: 15px;
    }
}
@media(max-width:1024px){
    .item{
        width: 170px;
        font-size: 12px;
    }
    .item img{
        height: 170px;
        width: 170px;
    }
    .item-old-price{
        font-size: 11px;
    }
    .item-new-price{
        font-size: 13px;
    }
}
@media(max-width:800px){
    .item{
        width: 120px;
        font-size: 12px;
    }
    .item img{
        height: 120px;
        width: 120px;
    }
    .item-old-price{
        font-size: 10px;
    }
    .item-new-price{
        font-size: 12px;
    }
}
@media(max-width:500px){
    .item{
        width: 170px;
    }
    .item img{
        height: 170px;
        width: 170px;
    }
}