.Trending{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100vh;
    background-color: black;
    color: white;
}
.Trending h1{
    color:white;
    font-size: 45px ;
    font-weight: bold;
}
.Trending hr{
    height: 3px;
    width: 400px;
    background: white;
    border-radius: 20px;
}
.Trending-item{
    margin-top: 50px;
    margin-right: 100px;
    display: flex;
    gap: 160px;
    width: 80%;
    align-items: center;
    justify-content: center;
} 
@media(max-width:1280px){
    .Trending{
        padding-bottom: 20px;
    }
    .Trending h1{
        font-size: 35px;
    }
    .Trending hr{
        width: 250px;
        height: 3px;
    }
    .Trending-item{
        gap:40px;
        margin: 0px;
        margin-top: 30px;
    }
}
@media(max-width:1024px){
    .Trending{
        height: 80vh;
    }
    .Trending h1{
        font-size: 30px;
    }
    .Trending hr{
        width: 180px;
        height: 3px;
    }
    .Trending-item{
        gap:15px;
        margin: 0;
        margin-top: 10px;
    }

}
@media(max-width:1024px){
    .Trending{
        height: 80vh;
    }
    .Trending h1{
        font-size: 30px;
    }
    .Trending hr{
        width: 180px;
        height: 3px;
    }
    .Trending-item{
        gap:15px;
        margin: 0;
        margin-top: 10px;
    }

}
@media(max-width:800px){
    .Trending{
        height: 50vh;
        gap: 6px;
    }
    .Trending h1{
        font-size: 20px;
        margin-bottom: 0;
    }
    .Trending hr{
        width: 100px;
        height: 1px;
    }
    .Trending-item{
        gap:10px;
        margin: 0;
    }

}
@media(max-width:500px){
    .Trending{
        height: 100%;
    }
    .Trending-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}


